<div class="row">
	<div class="card mx-auto" style="width: 18rem;">
	  <img class="img-fluid card-img-top img-thumbnail" src="https://i.imgur.com/U5rCVuQ.jpg" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    <div class="clearfix">
	    	<div class="price pull-left">$12</div>
	    	<a href="#" class="btn btn-success pull-right">Button</a>
	  	</div>
	  </div>
	</div>
	<div class="card mx-auto" style="width: 18rem;">
	  <img class="img-fluid card-img-top img-thumbnail" src="https://i.imgur.com/ZL08TtA.jpg" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    <div class="clearfix">
	    	<div class="price pull-left">$12</div>
	    	<a href="#" class="btn btn-success pull-right">Button</a>
	  	</div>
	  </div>
	</div>
	<div class="card mx-auto" style="width: 18rem;">
	  <img class="img-fluid card-img-top img-thumbnail" src="https://i.imgur.com/tBv3OLi.jpg" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title">Card title</h5>
	    <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    <div class="clearfix">
	    	<div class="price pull-left">$12</div>
	    	<a href="#" class="btn btn-success pull-right">Button</a>
	  	</div>
	  </div>
	</div>
</div>