{{# each products }}
	<div class="row">
		{{# each this }}
			<div class="col-sm-4">
				<div class="card mx-auto" style="width: 18rem;">
				  <img class="img-fluid card-img-top img-thumbnail" src="{{this.imagePath}}" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">{{this.title}}</h5>
				    <p class="card-text description">{{this.description}}</p>
				    <div class="clearfix">
				    	<div class="price pull-left">${{this.price}}</div>
				    	<a href="#" class="btn btn-success pull-right">Buy</a>
				  	</div>
				  </div>
				</div>
			</div>
		{{/ each }}
	</div>
{{/ each }}